<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_asking"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_asking"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".view.old.InterviewScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.InterviewActivityNew"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.old.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.InterviewBot" />
        <activity
            android:name=".view.old.InterviewActivity"
            android:exported="false"
            android:label="@string/title_activity_interview"
            android:theme="@style/Theme.InterviewBot" />
        <activity
            android:name=".view.old.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InterviewBot">

        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

</manifest>